[Unit]
Description=Prometheus Pushgateway - Push acceptor for ephemeral and batch jobs.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus

PIDFile=/run/prometheus-pushgateway.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/prometheus/pushgateway \
    --web.listen-address=0.0.0.0:9091 \
    --web.telemetry-path=/metrics

Restart=on-failure
SyslogIdentifier=prometheus-pushgateway
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
